.CityDetails {

  border-radius: 20px;
  height: 100%;
  background-color: rgb(197, 237, 255);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 7px 7px rgba(1, 81, 112, 0.541);
  
}

.loaderBox {
margin: auto;
display: flex;
height: 200px;
align-items: center;
}

@media (max-width: 1000px) {
  .CityDetails {
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
}

@media (max-width: 675px) {
  .CityDetails {
    height: 850px;
  }
}